<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2>Demo App</h2>
      </header>
  <div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">DevOps Tools </h1>
      <p class="lead"></p>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>K8S Monitoring/Logging</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a class="cluster-link a-link" href="https://grafana.default.topzone-k8s.topzone.com"
                       target="_blank">Grafana</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>K8S Health Check</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a class="cluster-link a-link" href="https://prometheus.default.topzone-k8s.topzone.com"
                       target="_blank">Prometheus</a></h4>&nbsp;/&nbsp;
                <h4><a class="cluster-link a-link" href="https://alertmanager.default.topzone-k8s.topzone.com"
                       target="_blank">Alertmanager</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>CD</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a class="cluster-link a-link" href="https://argocd.default.topzone-k8s.topzone.com"
                       target="_blank">Argocd</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>Password Management</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a class="cluster-link a-link" href="https://vault.default.topzone-k8s.topzone.com"
                       target="_blank">Vault</a></h4>&nbsp;/&nbsp;
                <h4><a class="cluster-link a-link" href="https://consul.default.topzone-k8s.topzone.com"
                       target="_blank">Consul</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>CI</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a href="https://jenkins.default.topzone-k8s.topzone.com/" target="_blank">Jenkins</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>Docker Repo</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a class="cluster-link a-link"
                       href="https://harbor.default.topzone-k8s.topzone.com/"
                       target="_blank">Harbor</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
        <div class="card card-default">
          <div class="card-body form-inline">
            <div class="col-sm-4"><h3>Project Management</h3></div>
            <div class="col-sm-8">
              <label class="col-sm-12 form-group">
                <h4><a href="https://github.com/topzone8713/tz-argocd-repo/tree/main/tz-demo-app">Argo Repo</a></h4>
              </label><h5 class="text-center"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </body>
</html>

<script>

import $ from 'jquery';

export default {
  name: 'MainPage',
  components: {},
  data: function () {
    return {
      id: 'main',
    }
  },
  props: [],
  mounted() {
    $('.loading').hide();
    $('.cluster-link').click(function (e) {
      let url = $(e.currentTarget).attr('href');
      url = url.replaceAll('topzone-k8s', $('#aws-account').val());
// eslint-disable-next-line no-debugger
debugger;
      window.open(url, "_blank");
    });
  },
  methods: {
  }
};
</script>